
.navLink {
 	color: var(--text-clr);
	transition: color 0.3s ease 0s,
	text-shadow 0.3s ease 0s;
	cursor: pointer; 
}
.navLink:hover {
	color: var(--main-clr);
	text-shadow: var(--txt-shadow);
}

.activeLink {
	//border-bottom: 2px solid var(--main-clr);

	cursor: default !important;
	&:hover {
		color: var(--text-clr);
		text-shadow: none;
	}
}
